# Build artifacts
dist/
build/
*.exe

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# Local notes
notes.md

# Dependencies / embedded Python
Lib/
share/
